In [1]:
import os

In [2]:
import pandas as pd

In [5]:
path = os.path.join("Unsolved", "Resources","crime_incident_data2017.csv")

In [10]:
df = pd.read_csv(path)

In [25]:
df = df[[
     "Neighborhood",
    "Occur Date", 
    "Occur Time",
    "Offense Category",
    "Offense Type",
    "Report Date"
]]\
.rename(columns = lamda s: s.lower().replace(" ", "_"))

SyntaxError: invalid syntax (<ipython-input-25-36b6c0fbaff4>, line 9)

In [11]:
df.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,NaN,17-X4762181,Person,NaN,1,1/1/96,1/1/96,800,Sex Offenses,1,Rape,NaN,NaN,NaN,NaN,1/26/17,1/1/17
1,NaN,17-X4757824,Property,Centennial,1,1/20/00,1/1/00,1615,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/20/17,1/1/17
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
3,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/5/17,1/1/17
4,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Larceny Offenses,1,All Other Larceny,NaN,NaN,NaN,NaN,1/5/17,1/1/17

In [18]:
df.dtypes

Address               object
Case Number           object
Crime Against         object
Neighborhood          object
Number of Records      int64
Occur Date            object
Occur Month Year      object
Occur Time             int64
Offense Category      object
Offense Count          int64
Offense Type          object
Open Data Lat        float64
Open Data Lon        float64
Open Data X          float64
Open Data Y          float64
Report Date           object
Report Month Year     object
dtype: object

In [42]:
    pd.to_datetime(df["Report Date"].format ="%m%d%y")

SyntaxError: keyword can't be an expression (<ipython-input-42-98fd4d035567>, line 1)

In [40]:
df["Occur Time"]

KeyError: 'Occur Time'

In [12]:
df.count()

Address              37365
Case Number          41032
Crime Against        41032
Neighborhood         39712
Number of Records    41032
Occur Date           41032
Occur Month Year     41032
Occur Time           41032
Offense Category     41032
Offense Count        41032
Offense Type         41032
Open Data Lat        36712
Open Data Lon        36712
Open Data X          36712
Open Data Y          36712
Report Date          41032
Report Month Year    41032
dtype: int64

In [13]:
df.shape

(41032, 17)

In [19]:
dropped_dataframe = df.dropna

<bound method DataFrame.dropna of                             Address  Case Number Crime Against  \
0                               NaN  17-X4762181        Person
1                               NaN  17-X4757824      Property
2          200 BLOCK OF SE 78TH AVE    17-900367      Property
3                               NaN  17-X4748982      Property
4                               NaN  17-X4748982      Property
...                             ...          ...           ...
41027   8800 BLOCK OF NE SANDY BLVD    17-285386       Society
41028     9700 BLOCK OF SE STARK ST    17-286082       Society
41029     9700 BLOCK OF SE STARK ST    17-286413       Society
41030               UNKNOWN ADDRESS    17-286445       Society
41031  8000 BLOCK OF SE POWELL BLVD    17-286659       Society

          Neighborhood  Number of Records Occur Date Occur Month Year  \
0                  NaN                  1     1/1/96           1/1/96
1           Centennial                  1    1/20/00           1/1/00
2           Montavilla                  1    12/1/03          12/1/03
3      Southwest Hills                  1     1/1/10           1/1/10
4      Southwest Hills                  1     1/1/10           1/1/10
...                ...                ...        ...              ...
41027           Sumner                  1    8/31/17           8/1/17
41028        Hazelwood                  1    8/31/17           8/1/17
41029        Hazelwood                  1    8/31/17           8/1/17
41030              NaN                  1    8/31/17           8/1/17
41031    Foster-Powell                  1    8/31/17           8/1/17

       Occur Time        Offense Category  Offense Count  \
0             800            Sex Offenses              1
1            1615          Fraud Offenses              1
2             800          Fraud Offenses              1
3               0          Fraud Offenses              1
4               0        Larceny Offenses              1
...           ...                     ...            ...
41027         535  Drug/Narcotic Offenses              1
41028        1619   Prostitution Offenses              1
41029        1959   Prostitution Offenses              1
41030        2021   Prostitution Offenses              1
41031        2354   Weapon Law Violations              1

                                  Offense Type  Open Data Lat  Open Data Lon  \
0                                         Rape            NaN            NaN
1                               Identity Theft            NaN            NaN
2      False Pretenses/Swindle/Confidence Game        45.5207       -122.583
3                               Identity Theft            NaN            NaN
4                            All Other Larceny            NaN            NaN
...                                        ...            ...            ...
41027                 Drug/Narcotic Violations        45.5554       -122.571
41028                             Prostitution        45.5191       -122.563
41029                             Prostitution        45.5191       -122.563
41030                             Prostitution            NaN            NaN
41031                   Weapons Law Violations        45.4974       -122.580

       Open Data X  Open Data Y Report Date Report Month Year
0              NaN          NaN     1/26/17            1/1/17
1              NaN          NaN     1/20/17            1/1/17
2        7668150.0     682825.0      1/9/17            1/1/17
3              NaN          NaN      1/5/17            1/1/17
4              NaN          NaN      1/5/17            1/1/17
...            ...          ...         ...               ...
41027    7671560.0     695399.0     8/31/17            8/1/17
41028    7673292.0     682101.0     8/31/17            8/1/17
41029    7673292.0     682101.0     8/31/17            8/1/17
41030          NaN          NaN     8/31/17            8/1/17
41031    7668725.0     674298.0     8/31/17            8/1/17

[41032 rows x 17 columns]>